* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color: #cdddc1;
    color: #7a6c5e;
}

hr {
    border: 1px solid #7a6c5e;
}

.linhascartoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 15px;
    gap: 10px;
    flex-wrap: wrap;
}
.cartaoComando {
    width: calc(25% - 20px);
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px 5px;
    background-color: beige;
    transition: 150ms;
}
.cartaoComando:hover {
    scale: 105%;
    background-color:rgb(219, 219, 198);
   transform: translateY(-5%);
}
