* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfe3c5;
    font-family: monospace;
    color: #756454;
}
header {
    padding: 30px 20px;
}

.titulo {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 16px;
}
/* CONTAINER DOS CARDS */
.linhascartoes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 15px;
}
.cartaoComando h3 {
    overflow-wrap: anywhere;
}
.cartaoComando p {
    margin-top: 15px;
    line-height: 1.5;
}
/* CARD */
.cartaoComando {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    background-color: beige;
    min-height: 150px;
    transition: 150ms;
}

/* TÍTULO + ÍCONE */
.cartaoTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ÍCONES */
.icons {
    width: 30px;
    height: 30px;
    fill: rgb(121, 115, 103);
    stroke: black;
    stroke-width: 5px;
}


/* TABLET */
@media screen and (min-width: 768px) {

    .linhascartoes {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons {
        width: 40px;
        height: 40px;
    }
}


/* COMPUTADOR */
@media screen and (min-width: 992px) {

    .linhascartoes {
        grid-template-columns: repeat(4, 1fr);
    }

    .cartaoComando:hover {
        scale: 1.05;
        box-shadow: 1px 1px 1px 1px #756454;
        transform: translateY(-5%);
    }
}
footer {
    text-align: center;
    margin: 40px 20px 20px;
}

footer hr {
    border: none;
    border-top: 1px solid #756454;
    margin-bottom: 15px;
}


